<h2>Dancer's Practices</h2>

<table class="styled-table">
  <tr><th>Mandatory?</th><th>First Name</th><th>Last Name</th><th>Practice Date</th><th>Actions</th></tr>
  {{#each dancerpractices}}
  <tr>
    <td>{{this.mandatory}}</td>
    <td>{{this.firstName}}</td>
    <td>{{this.lastName}}</td>
    <td>{{this.practiceDate}}</td>
    <td>
      <form action="/locations/{{this.dancerPracticeID}}/edit" method="get" style="display:inline;">
        <button type="submit" class="btn-edit">Edit</button>
      </form>

      <form action="/locations/{{this.dancerPracticeID}}/delete" method="post" style="display:inline;">
        <button type="submit" class="btn-delete">Delete</button>
      </form>
    </td>
  </tr>
  {{/each}}
</table>

<h3>Add New Dancer's Practice</h3>

<form id="addDancerPracticeForm" action="/add-dancerpractice" method="POST">
  <label for="dancerID">Select Dancer:</label>
  <select id="dancerID" name="dancerID" required>
    {{#each dancers}}
      <option value="{{this.dancerID}}">
        {{this.firstName}} {{this.lastName}}
      </option>
    {{/each}}
  </select>

  <label for="practiceID">Select Practice:</label>
  <select id="practiceID" name="practiceID" required>
    {{#each practices}}
      <option value="{{this.practiceID}}">
        {{this.date}}
      </option>
    {{/each}}
  </select>

  <button type="submit" id="addDancerPracticeBtn">Add Dancer's Practice</button>
</form>


